<div id="loginForm">

<form action="/login", method="POST">
	<h1>login to see <br> the best thing ever!</h1>
	<input 	type="text" name="username" placeholder="username"/>
	<input type="password" name="password" placeholder="password"/>
	<input class="btn" type="submit" value="Login">
</form>

</div>